{% extends 'base.html.twig' %}

{% block title %}Admin Inbox{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center m-4">Admin Inbox</h1>
    {% if successMessage is defined %}
        <div class="alert alert-success">{{ success }}</div>
    {% endif %}
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Message</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for question in pagination %}
                <tr>
                    <td>{{ question.id }}</td>
                    <td>{{ question.name }}</td>
                    <td>{{ question.email }}</td>
                    <td>{{ question.message }}</td>
                    <td>
                        <form action="{{ path('admin_delete_question', {'id': question.id}) }}" method="post" onsubmit="return confirm('Are you sure you want to delete this question?')">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-center">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}

